/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~rc-tooltip/assets/bootstrap.css';

:root {
  --local_video_container_height: 150px;
  --right_panel_width: 320px;
  --screen_picker_width: 800px;
  --screen_picker_height: 600px;
  --color_chalk: #fafafa;
  --color_slightly_dark_chalk: #dedede;
  --color_darker_chalk: #9e9e9e;
  --color_dark_chalkboard: #111;
  --color_chalkboard: #252525;
  --color_slightly_light_chalkboard: #2d2d2d;
  --color_light_chalkboard: #454545;
  --color_dark_pen: #333;
  --color_warm_red: #d62f12;
  --color_black_medium_opacity: rgba(0, 0, 0, 0.6);
  --color_shadow: rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--color_chalk);
  background-color: var(--color_chalkboard);
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  line-height: 1.45;
}

#root {
  height: 100%;
}
