.createOrJoin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color_dark_pen);
  background: var(--color_chalkboard);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 1rem;
}

.formWrapper {
  width: 400px;
  background: var(--color_chalk);
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  padding: 3rem 2rem;
}

.form {
  width: 100%;
}

.titleInput,
.nameInput {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color_slightly_dark_chalk);
  background-color: transparent;
}

.button {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color_chalk);
  background: var(--color_chalkboard);
  cursor: pointer;
  transition: background-color 0.15s;
  user-select: none;
}

.button:hover {
  background: var(--color_dark_chalkboard);
}

.loginLink {
  display: inline-block;
  color: var(--color_light_chalkboard);
  background: var(--color_chalk);
  cursor: pointer;
  transition: opacity 0.15s;
  user-select: none;
  text-decoration: none;
  margin-top: 0.5rem;
}

.loginLink:hover {
  text-decoration: underline;
}

.regionsList {
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color_slightly_dark_chalk);
}

.control {
  background-color: transparent;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.control:hover {
  background-color: var(--color_chalkboard);
  color: var(--color_chalk)
}

.arrow {
  border-color: var(--color_slightly_dark_chalk) transparent transparent;
  border-width: 0.3rem 0.3rem 0;
  margin-top: 2px;
  margin-right: 0.25rem;
}

.dropdown[class~='is-open'] .arrow {
  border-color: var(--color_slightly_dark_chalk) transparent transparent !important;
  border-width: 0.3rem 0.3rem 0 !important;
}

.menu {
  margin: 0;
  padding: 0.5rem;
  color: var(--color_slightly_dark_chalk);
  background-color: var(--color_dark_chalkboard);
  box-shadow: 0 0.25rem 0.5rem var(--color_shadow);
  overflow: hidden;
  font-size: 0.9rem;
  border: none;
  max-height: none;
  border-radius: 0.25rem;
  height: 20rem;
  overflow-y: scroll;
}

.menu *[class~='Dropdown-option'] {
  color: var(--color_darker_chalk);
  border-radius: 0.25rem;
}

.menu *[class~='Dropdown-option']:hover {
  background-color: #1b1b1b;
}

.menu *[class~='is-selected'] {
  background-color: transparent;
  color: var(--color_chalk);
}

.menu *[class~='is-selected']:hover {
  background-color: #1b1b1b;
}
