.studentVideoGroup {
  display: grid;
  position: relative;
  height: 100%;
}

.studentVideoGroup.roomMode {
  grid-gap: 0.25rem;
  padding: 0.25rem 0.25rem 0;
}

.studentVideoGroup.screenShareMode {
  grid-gap: 0.25rem;
  padding: 0 0.25rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* Room mode */

.studentVideoGroup.roomMode.studentVideoGroup-1 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.studentVideoGroup.roomMode.studentVideoGroup-2,
.studentVideoGroup.roomMode.studentVideoGroup-3,
.studentVideoGroup.roomMode.studentVideoGroup-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.studentVideoGroup.roomMode.studentVideoGroup-5,
.studentVideoGroup.roomMode.studentVideoGroup-6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.studentVideoGroup.roomMode.studentVideoGroup-7,
.studentVideoGroup.roomMode.studentVideoGroup-8,
.studentVideoGroup.roomMode.studentVideoGroup-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.studentVideoGroup.roomMode.studentVideoGroup-10,
.studentVideoGroup.roomMode.studentVideoGroup-11,
.studentVideoGroup.roomMode.studentVideoGroup-12 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.studentVideoGroup.roomMode.studentVideoGroup-13,
.studentVideoGroup.roomMode.studentVideoGroup-14,
.studentVideoGroup.roomMode.studentVideoGroup-15,
.studentVideoGroup.roomMode.studentVideoGroup-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Screen share mode */

.studentVideoGroup.screenShareMode.studentVideoGroup-1,
.studentVideoGroup.screenShareMode.studentVideoGroup-2,
.studentVideoGroup.screenShareMode.studentVideoGroup-3,
.studentVideoGroup.screenShareMode.studentVideoGroup-4 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Child elements */

.instruction {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color_darker_chalk);
}

.studentVideoGroup.roomMode .instruction {
}

.studentVideoGroup.screenShareMode .instruction {
  font-size: 1rem;
}
