.tooltip[class~='rc-tooltip-placement-top'] div[class~='rc-tooltip-arrow'],
.tooltip[class~='rc-tooltip-placement-topLeft'] div[class~='rc-tooltip-arrow'],
.tooltip[class~='rc-tooltip-placement-topRight']
  div[class~='rc-tooltip-arrow'] {
  border-top-color: var(--color_dark_chalkboard);
}

.tooltip *[class~='rc-tooltip-inner'] {
  background-color: var(--color_dark_chalkboard);
  font-size: 1rem;
}
